---
import Layout from "../layouts/Layout.astro";
import TripCard from "../components/TripCard.astro";
---

<Layout
  title="Smrtivýlet"
  description="Každoroční jarní výlet po stezkách Českého krasu"
>
  <header class="home-hero">
    <div class="container">
      <h1 class="home-hero__title">
        <img src="/img/icon.svg" alt="" class="home-hero__icon" />
        Smrtivýlet
      </h1>
      <p class="home-hero__subtitle">
        Každoroční brutální jarní výlet pro neohrožené dobrodruhy, kteří neznají
        strach, bolest ani soudnout a chtějí ujít v kuse 50 km, i pro zvlášť
        delikátní a choulostivé jedince, již nedají dopustit na teplo domácího
        krbu, sucho v botách a načančané cappuccinečko.
      </p>
    </div>
  </header>

  <main class="container">
    <div class="trips">
      <TripCard
        year="2026"
        href="/2026"
        image="/img/banner2.jpg"
        title="Jarní smrtivýlet 2026"
        description="Výlet přírodním parkem Brdy-Hřebeny, ze Zbraslavi do Hostomic."
        upcoming={true}
      />
      <TripCard
        year="2025"
        href="/2025"
        image="/img/2025/banner1.jpg"
        title="Jarní smrtivýlet 2025"
        description="Výlet po Českém krasu od vyhlášené nádražky v Nižboru až do pivovaru v Radotíně. Sobota 5. dubna 2025."
        past={true}
      />
    </div>
  </main>
</Layout>
