---
interface Props {
  title: string;
  description?: string;
}

const { title, description = '' } = Astro.props;
---
<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" />

  <link rel="icon" type="image/png" sizes="16x16" href="/img/icon16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/img/icon32.png" />
  <link rel="icon" type="image/png" sizes="48x48" href="/img/icon48.png" />
  <link rel="icon" type="image/svg+xml" href="/img/icon.svg" />

  <meta name="description" content={description} />
  <meta name="author" content="Martin Podloucký" />

  <title>{title}</title>
</head>
<body>
  <slot />
  <footer class="footer">
    <div class="container">
      &copy; 2025 Smrtivýlet, Martin Podloucký
    </div>
  </footer>
</body>
</html>

<style is:global>
  @import '../styles/global.css';
</style>
